body {
  background-image: url('@/shared/assets/img-flower.webp');
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  background-size: 20%;
}

@media (min-width: 768px) {
  body {
    background-size: 12.5%;
  }
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background: #d0d7de;
  }
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #30363d;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}
